body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d7a362;
  color: #fff;
  padding: 20px;
  align-items: center;
  text-align: center;
}

nav {
  background-color: #513b1b;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  background-color: #b69d3a;
  color: #fff;
}

/* Estilos para la lista de comidas */
#meal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para las tarjetas de comida */
.meal-card {
  width: 40%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/* Estilos para las imágenes de comida */
.meal-card img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain;
  border-radius: 5px;
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #d7a362;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #b9833d;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #b9833d;
}
