body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
    background-color: #f7e4a0;
	color: #f8f8f8;
}

header {
    background-color: #d7a362;
    color: #fff;
    padding: 20px;
    align-items: center;
    text-align: center;
}

nav {
    background-color: #513b1b;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    background-color: #b69d3a;
    color: #fff;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	flex-direction: column;
}

h1 {
	font-size: 5em;
	margin: 0;
	text-shadow: 0 0 5px #f8f8f8;
	animation: changeColor 3s infinite;
}

p {
	font-size: 1.5em;
	margin: 0;
}

@keyframes changeColor {
	0% {
		color: #f8f8f8;
	}
	50% {
		color: #b69d3a;
	}
	100% {
		color: #f8f8f8;
	}
}
