body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d7a362;
    color: #fff;
    padding: 20px;
    align-items: center;
    text-align: center;
}

nav {
    background-color: #513b1b;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    background-color: #b69d3a;
    color: #fff;
}


form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 25px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}