body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d7a362;
  color: #fff;
  padding: 20px;
  align-items: center;
  text-align: center;
}

nav {
  background-color: #513b1b;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  background-color: #b69d3a;
  color: #fff;
}

.meal-card img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meal-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.saved-meal img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.saved-meal h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

#meal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.meal-card {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #d7a362;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #b9833d;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #b9833d;
}

.custom-select {
  display: block;
  width: 200px;
  padding: 8px;
  background-color: #d7a362;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

.custom-select option {
  background-color: #d7a362;
  color: white;
}

img:hover {
  opacity: 0.8;
  cursor: pointer;
}
