/*$first: green;
$second: red;
$theme-colors: (
 "primary": $first,
 "danger": $second
);*/

   $dropdown-link-active-bg: red;
   $dropdown-link-active-color: white;

   $dropdown-link-hover-bg: #93C572;
   $dropdown-link-hover-color: black;

   $dropdown-link-color: red;

   $btn-font-family: ink free;

@import "./node_modules/bootstrap/scss/bootstrap";