/*$first: green;
$second: red;
$theme-colors: (
 "primary": $first,
 "danger": $second
);*/

$light: #d9dad7; 

$warning: #c24d2c; 


$secondary: #3e4a61; 

$dark: #1a2639;

@import "./node_modules/bootstrap/scss/bootstrap"